.phone_view {
    transform-origin:left top;
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari 3-8 */
    transform: scale(2.5); 
}

body{
    width: 100%;
    height:100%;
    background:#333333;
}

.content {
    width:90%;
    background:#99d6ff;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}